include README.md
include LICENSE
include requirements.txt
include __init__.py
recursive-include prompts *
recursive-include schema *
recursive-include cli *.py
recursive-include core *.py
recursive-include app_server *.py
recursive-include protocol *.json
recursive-include utils *.py
recursive-include tools *.py
recursive-include workflows *.py
global-exclude *.pyc
global-exclude .git*
global-exclude .history*
global-exclude .ruff_cache*
global-exclude __pycache__*
